//@CHARSET "ISO-8859-1";

* {
margin: 0 auto;
padding: 0;
font-family: "Segoe UI";
font-size: 1.02em;
color: darksalmon;
}

body > nav {
	background-color: red;
	width: 80%;
        padding: -10%;
	background:darksalmon;
	word-spacing: 10%;
	letter-spacing: 20%;
	margin: 10%;

}
#menu ul {
	list-style: none;
	width: 65%;
	font-size: 0px;
	word-spacing: 30%;
	letter-spacing: 30%;
	margin: 18%;
}

#menu ul li {
	width: 25%;
	list-style: none;
	overflow: hidden;
	zoom: 1;
	display: inline-block;
	text-align: center;
}

#menu ul li a {
	width: 54%;
	padding: 5%;
	float:left;
	font: 15px "Segoe UI";
	color:#fff;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
}
#menu ul li a:hover {
    padding: 5%;
	background-color: chocolate;
}
